.category-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 86%;
  margin: auto;
  padding-left: 10px;
  padding-bottom: 30px;
}
.categories{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 20px;
}
@media only screen and (max-width: 1100px) {
  .category-container {
    max-width: 95%;
  }
  .categories{
    display: flex;
    flex-wrap: wrap;
  }
}
.category-card {
  width: 100px;
  height: 100px;
  padding: 3px;
  background-color: #ffffff;
  color: rgb(106, 106, 106);
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 7px;
  transition: border 0.2s ease-in-out, color 0.2s ease-in-out;
  border: 3px solid transparent;
  text-align: center;
  box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
  }
.category-card:hover {
  border: 3px solid rgb(49, 49, 49);
  color: #000000;
  }
.category-card .img-container {
  width: 100%;
  overflow: hidden;
}
  
.category-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.categories-title{
  font-family: 'toledo';
  font-size: 2rem;
}
  